body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #3E3E3E;
}
.flex-display{
    display: flex;
}
.headline{
    text-align: center;
}
#border{
    border-left: 3px solid #FF5959;
    border-radius: 3px;
    border-image-slice: 1;
}
.orange-color{
    color: #FFAD5A;
}
.different-font{
    font-family: 'Yeseva One', cursive;
}
h1{
    font-size: 50px;
    line-height: 30px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}
.button-type{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 7px;
    color: white;
    font-weight: 500;
    margin-top: 5px;
    position: absolute;
}
.half-width{
    width: 50%;
    margin: 90px 0 0 150px;
}
.half-width h1{
    margin-left: 15px;
}
.half-width img{
    width: 70%;
    margin-left: 50px;
}
.half-width h4{
    font-weight: 200;
    position: relative;
    margin-top: 100px;
}
.my-mission .box{
    padding: 0px 150px;
    border-radius: 10px;
}
.my-mission .box img{
    width: 40%;
}
#mission{
    background-color: #EDF5F6;
    border-radius: 30px;
    padding: 20px 20px;
}
#vission{
    background-color: #FFEEEE;
    border-radius: 30px;
    padding: 20px 20px;
    margin-left: 25px;
}
#goals{
    background-color: #FFF4D6;
    border-radius: 30px;
    padding: 20px 20px;
    margin-left: 25px;
}
.develop{
    padding: 70px 0px 20px 0px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: 60px;
    background-position-y: 150px;
}
.some-width{
    width: 45%;
}
 .some-width img{
    width: 65%;
    padding-left: 150px;
} 
.much-width{
    width: 50%;
    padding-top: 20px;
}
.much-width h2{
    line-height: 20px;
}
.community{
    padding: 70px 0px 50px 80px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right;
    background-position-x: 1150px;
    background-position-y: 350px;
}
.help{
    padding-bottom: 200px;
    background-image: url(images/shape-6.png);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: right;
    background-position-x: 155px;
    background-position-y: 60px;
}
.help .half-width img{
    border-radius: 40px;   
}
.help .half-width h1{
    margin-left: 0px;
}
.footer{
    width: 100%;
    background-color: #0B0D17;
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 20px 0px;
    letter-spacing: 2px;
}
.footer h3{
    font-family: 'Lobster', cursive;
}
.footer p{
    font-size: 10px;
}
#pink-color{
    color: #FF5959;
}